body {
  margin: 0%;
}
.outerBorder {
  width: 575px;
  height: 385px;
  background: #1b244a;
  margin-top: 50px;
  margin: auto;
  margin-top: 100px;
  border: 5px double brown;
  border-radius: 20px;
}
.outerBorder .titles {
  display: flex;
}
.outerBorder .titles #home {
  width: 149px;
  height: 36px;
  margin-top: 68px;
  margin-left: 85px;

  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  /* identical to box height, or 90% */
  text-align: center;
  color: #eeeeee;
  margin-bottom: 0;
}
.outerBorder .titles #away {
  width: 149px;
  height: 36px;
  margin-top: 68px;
  margin-left: 115px;

  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  /* identical to box height, or 90% */
  text-align: center;
  margin-bottom: 0%;
  color: #eeeeee;
}
.outerBorder .displayBoard {
  width: 420px;
  height: 120px;
  margin-top: 21px;
  margin-left: 82px;
  background: #1b244a;
  display: flex;
}
.outerBorder .displayBoard .displayOne {
  width: 155px;
  height: 120px;
  background: black;
  border-radius: 10px 10px 10px 10px;
  border: 2px double white;
}
.outerBorder .displayBoard .displayOne h5 {
  text-align: center;
  margin: 0%;
  font-family: "Cursed Timer ULiL";
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 120px;
  color: #38BDF8;
}
.outerBorder .displayBoard .displayTwo {
  width: 155px;
  height: 120px;
  background: black;
  border-radius: 10px 10px 10px 10px;
  border: 2px double white;
  margin-left: 110px;
}
.outerBorder .displayBoard .displayTwo h5 {
  text-align: center;
  margin: 0%;
  font-family: "Cursed Timer ULiL";
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 120px;
  color: #38BDF8;
}
.outerBorder .boxes {
  width: 410px;
  height: 45px;
  margin-top: 26px;
  margin-bottom: 0%;
  margin-left: 82px;
  background: #1b244a;
  display: flex;
}
.outerBorder .boxes .set1 {
  display: flex;
}
.outerBorder .boxes .set1 button {
  width: 45px;
  height: 45px;
  margin-right: 9px;
  background: #1b244a;
  border-style: none;

  border: 2px solid #9aabd8;
  border-radius: 5px;
  font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 155% */

text-align: center;

color: #9AABD8;

}
.outerBorder .boxes .set2 {
  display: flex;
  margin-left: 100px;
}
.outerBorder .boxes .set2 button {
  width: 45px;
  height: 45px;
  margin-right: 9px;
  background: #1b244a;
  border-style: none;

  border: 2px solid #9aabd8;
  border-radius: 5px;
  font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 155% */

text-align: center;

color: #9AABD8;

}
